In [1]:
import os
os.getcwd()

'C:\\Users\\Amandeep\\Desktop\\ResearchProject\\data-driven-svd-regression\\exploratory_analysis'

In [8]:
import pandas as pd
#adm = pd.read_csv("../data/target-hospital-admissions.csv")
loc = pd.read_csv("../data/from_state_to_fip_and_pop.csv")

#adm.head()
loc.head()

,abbreviation,location,location_name,population,count_rate0p3,count_rate0p5,count_rate0p7,count_rate1,count_rate1p7,count_rate3,count_rate4,count_rate5
0,US,US,US,334914895,1005,1675,2344,3349,5694,10047,13397,16746
1,AL,01,Alabama,5108468,15,26,36,51,87,153,204,255
2,AK,02,Alaska,733406,2,4,5,7,12,22,29,37
3,AZ,04,Arizona,7431344,22,37,52,74,126,223,297,372
4,AR,05,Arkansas,3067732,9,15,21,31,52,92,123,153